<div class="container">
  <header>
  <div class="row">
    <div class="col-sm-7">
      <h1 class="hmain"><img src="assets/images/i9.jpg" width="70px" length="70px"><b>iPriksha</b></h1>
      <h3 class="hmain1">Excellence in Assessment</h3>
    </div>
    <div class="col-sm-1">
    </div>

    <div class="col-sm-4">
      <form>
        <div class="row">
          <div class="col-sm-6">Candidate Name</div>
          <div class="col-sm-6">{{user.name}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Subject Name</div>
          <div class="col-sm-6">{{user.test.name}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Remaning Time</div>
          <div class="col-sm-6"><label for="xy">{{timeRem}}</label></div>
        </div>
      </form>
    </div>
  </div>

  <div class="row divhead">
    <div class="col-sm-6">
      <h1>HTET</h1>
    </div>
    <div class="col-sm-6">
      Choose your default language <br><select class="form-control">
        <option>English</option>
        <option>Hindi</option>
        <option>Punjabi</option>
      </select>
      
    </div>
  </div>
  <div class="row ">
    <span> {{'QUESTION ' + (itr + 1) + '/' + questionList.length}}</span>
    <span>
     Answered: {{(itr * 100 / questionList.length).toFixed(2) + '%'}}
    </span>
  </div>
</header>
<div class="row">
  <div class="col-sm-6" *ngIf="question">
    <b></b>Question<br>
    <hr>
    {{question.question}}<br>
    <div class="row">
      <div class="col-sm-6">
        <span> (A) : {{question.options[0]}} </span>
      </div>
      <div class="col-sm-6">
        <span> (B) : {{question.options[1]}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <span> (C) : {{question.options[2]}}</span>
      </div>
      <div class="col-sm-6">
        <span> (D) : {{question.options[3]}}</span>
      </div>
    </div>
    <input class="success"  value="0" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer" name="answer" type="radio">A)
    <input class="success"  value="1" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer" name="answer" type="radio">B)
    <input class="success"  value="2" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer"  name="answer"type="radio">C)
    <input class="success"  value="3" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer" name="answer" type="radio">D)<br>
    <hr>
    <button class="btn btn-primary margint" (click)="saveAndNext();">Save & Next</button>
    <!-- <button class="btn btn-danger margint" (click)="saveAndNext();">Save & Mark For Review</button> -->
    <button class="btn btn-success margint"(click)="clearResponse();" >Clear Response</button><br>
    <!-- <button class="btn btn-warning margint" (click)="saveAndNext();">Make For Review & Next</button><br> -->
    <div class="row">
      <div class="col-sm-10">
        <button class="btn btn-info">Back</button>
        <button class="btn btn-info marginT">Next>></button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-success" (click)="finishTest();">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <!-- <div class="col-sm-6">
        <img class="box1">Not visited
      </div> -->

      <!-- <div class="col-sm-6">
        <img class="box2">Not answered
      </div> -->
      <!-- <div class="col-sm-6">
        <img class="box3">Answered
      </div> -->
      <!-- <div class="col-sm-6">
        <img class="box4">Answered & marked for review 
      </div>
       <div class="col-sm-6">
        <img class="box5">Marked for review
      </div> -->
    </div>
  </div>
  </div>
</div>
