<div class="container">
  <header>
  <div class="row">
    <div class="col-sm-7">
      <h1 class="hmain"><img src="assets/images/ip.png" width="70px" length="70px"><b>iPriksha</b></h1>
      <h3 class="hmain1">Excellence in Assessment</h3>
    </div>
    <div class="col-sm-1">
    </div>

    <div class="col-sm-4">
      <form>
        <div class="row">
          <div class="col-sm-6">Candidate Name</div>
          <div class="col-sm-6">{{user.name}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Subject Name</div>
          <div class="col-sm-6">{{user.test.name}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Remaning Time</div>
          <div class="col-sm-6"><label for="xy">{{timeRem}}</label></div>
        </div>
      </form>
    </div>
  </div>

  <div class="row divhead">
    <div class="col-sm-6">
      <h1>{{user.test.name}}</h1>
    </div>
    <div class="col-sm-6">
      <!-- Choose your default language <br><select class="form-control">
        <option>English</option>
        <option>Hindi</option>
        <option>Punjabi</option>
      </select> -->
      
    </div>
  </div>
  <div class="row ">
    <span> {{'QUESTION ' + (itr + 1) + '/' + questionList.length}}</span>
    <span>
     Answered: {{(itr * 100 / questionList.length).toFixed(2) + '%'}}
    </span>
  </div>
</header>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-12" *ngIf="question">
    <b></b>Question<br>
    <hr>
    {{question.question}}<br>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
        <span> (A) : {{question.options[0]}} </span>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
        <span> (B) : {{question.options[1]}}</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
        <span> (C) : {{question.options[2]}}</span>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
        <span> (D) : {{question.options[3]}}</span>
      </div>
    </div>
    <div class="row marginT10">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" >

        <input class="success form-control"  value="0" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer" name="answer" type="radio">A)
      </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input class="success form-control"  value="1" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer" name="answer" type="radio">B)
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input class="success form-control"  value="2" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer"  name="answer"type="radio">C)
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <input class="success form-control"  value="3" (ngModelChange)="answeredValue($event)" [(ngModel)]="currentAnswer" name="answer" type="radio">D)
      </div>
    
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
          <button class="btn btn-primary col-6 col-sm-2" (click)="saveAndNext();">Save & Next</button>
    <!-- <button class="btn btn-danger margint" (click)="saveAndNext();">Save & Mark For Review</button> -->
    <button class="btn btn-success col-6 col-sm-2 " (click)="clearResponse();" >Clear Response</button>
    <!-- <button class="btn btn-warning margint" (click)="saveAndNext();">Make For Review & Next</button><br> -->
      </div>
  
  
    
        <!-- <button class="btn btn-info col-6 col-sm-2 marginT10 ">Back</button>
        <button class="btn btn-info col-6 col-sm-2 marginT10 ">Next>></button> -->
     
     <div class="row">
       <div class="col-12 col-md-6 col-lg-6 col-sm-6">
         <button class="btn btn-success  " (click)="finishTest()">Submit</button>
       </div>
     </div>
       
     
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <!-- <div class="col-sm-6">
        <img class="box1">Not visited
      </div> -->

      <!-- <div class="col-sm-6">
        <img class="box2">Not answered
      </div> -->
      <!-- <div class="col-sm-6">
        <img class="box3">Answered
      </div> -->
      <!-- <div class="col-sm-6">
        <img class="box4">Answered & marked for review 
      </div>
       <div class="col-sm-6">
        <img class="box5">Marked for review
      </div> -->
    </div>
  </div>
  </div>
</div>
