<StackLayout>
    <Label text="Name" ></Label>
    <TextField (textChange)="onTextNameChange($event)" hint="Enter Name" ></TextField>
    <Label text="Email"></Label>
    <TextField (textChange)="onTextEmailChange($event)" hint="Enter Email" ></TextField>
    <Label text="Type Of Test"></Label>

    <ListPicker [items]="typeTestList" selectedIndex="0"         textField="name"
     (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>

    <Button text="Next" (tap)="submit()" ></Button>
</StackLayout>