<StackLayout class="mainWrapper" orientation="vertical" height="100%">
        <DockLayout height="100%" width="100%">
                <StackLayout dock="bottom">
                        <Button text="Next" (tap)="submit()"></Button>
                </StackLayout>
                <StackLayout  class="form-style" horizontalAlignment="center" width="100%">
                        <Image  horizontalAlignment="center"  stretch="none" src="~/assets/images/ip.png"> </Image>
                        <Label class="welcome" textWrap="true"  horizontalAlignment="center"  text="Welcome to iPariksha">
                        </Label>


                        <StackLayout class="form-panel">
                             <StackLayout>
                                        <Label text="Name"></Label>
                                <TextField (textChange)="onTextNameChange($event)" hint="Enter Name"></TextField>
                             </StackLayout>
                                <StackLayout>
                                                <Label text="Email"></Label>
                                                <TextField (textChange)="onTextEmailChange($event)" hint="Enter Email"></TextField>
                                </StackLayout>
                            


                        </StackLayout>
                </StackLayout>
        </DockLayout>
</StackLayout>