<div class="container" style="background-image: url(assets/images/b4.jpg)">
    
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <img width="180" alt="UPG-LS Logo" src="assets/images/logo_ls.png">
                    </div>
                    <h3>
                        Testeaza-ti cunostintele prin <span class="text-primary">{{ title }}</span> 
                    </h3>
                    <hr>
                    <form id="test" class="col-12" #signupform="ngForm" (ngSubmit)="submit(signupform)">
                        <div class="row form-group">
                            <label class="col-sm-4 col-form-label" for="name">Nume</label>
                            <div class="col-sm-8">
                                <input minlength="3" maxlength="26" class="form-control" name="name" [(ngModel)]="user.name" type="text" placeholder="Introdu numele" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 col-form-label" for="email">Email</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="email" [(ngModel)]="user.email" type="text" placeholder="Introdu email-ul" required> </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 col-form-label" for="email">Tipul testului</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="test" [(ngModel)]="user.test" required>
                                        <option value="">Alege</option>
                                   <option [ngValue]="testType" *ngFor="let testType of typeTestList">{{testType.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button [ngClass]="{'btn-secondary' : signupform.invalid}" class="btn btn-primary btn-block" [disabled]="signupform.invalid" type="submit">Inainte</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
