<!--The content below is only a placeholder and can be replaced.-->
<div class="container h-100 centerme" >
  <div class="row">
      <img width="300" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
   
  </div>
  <div class="row">
    <form id="test" class="col-12" #signupform="ngForm" (ngSubmit)="submit(signupform)">
      <div class="row ">
        <label class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" for="name">Name:</label>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <input class="form-control" name="name" [(ngModel)]="user.name" type="text" placeholder="Name" required>
        </div>
      </div>
      <div class="row ">
        <label class="col-12 col-md-4 col-lg-4 col-xl-4" for="email">Email:</label>
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
          <input class="form-control" name="email" [(ngModel)]="user.email" type="email" placeholder="Email" required>        </div>
      </div>
      <div class="row ">
        <label class="col-12 col-md-4 col-lg-4 col-xl-4" for="email">Type Of Test:</label>
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
          <select class="form-control" name="test" [(ngModel)]="user.test" required>
            <option [ngValue]="testType" *ngFor="let testType of typeTestList">{{testType.name}}</option>
          </select>
      </div>
      </div>
      <div class="row ">
        <div class="col-12" style="padding-top:5px">

          <button class=" col-12 col-md-3 btn btn-info" [disabled]="signupform.invalid" type="submit" >Next</button>
        </div>
      </div>
    </form>
  </div>
</div>