<app-user-panel [user_firstname]="user.firstname">
</app-user-panel>

<table>
  <tr>
    <th>Id</th>
    <th>Utilizator</th>
    <th>Timp start</th>
    <th>Timp sfarsit</th>
    <th>Test</th>
    <th>Raspunsuri corecte</th>
    <th>Raspunsuri necompletate</th>
  </tr>
  <tr *ngFor="let ftest of finishedTestsList; index as i; first as isFirst">
    <td>{{i}}</td>
    <td>{{ftest.user.username}}</td>
    <td>{{ftest.time_started}}</td>
    <td>{{ftest.time_finished}}</td>
    <td>{{ftest.test.name}}</td>
    <td>{{ftest.correct_answers}}</td>
    <td>{{ftest.blank_answers}}</td>
  </tr>
</table>
