
.mainWrapper {
    Button{
        background: cornflowerblue;
        color: #ffffff;
        font-size: 14;
        border: 0;
        border-radius: 0;
        padding: 10;  
    }

    .content {
        margin: 30;
        .h1 {
            font-size: 22;
            font-weight: bold;
            color: green;
        }
       
    }
}