
  <!-- <table class="table">
    <tr>
      <th>Section name</th>
      <th>No. of questions</th>
      <th>Not answered</th>
      <th>Answered</th>
      <th>Marked for review</th>
      <th>Answered and marked for review</th>
      <th>Not visited</th>
    </tr>
    <tr>
      <td>paper1</td>
      <td>90</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
  </table> -->





<div class="container">
  <div class="row mt-5">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-4 col-sm-12">
                          <div class="row">
                              <div class="col-md-4 text-sm-center"><img src="assets/images/ip.png" class="img-fluid"></div>
                              <div class="col-md-8 text-sm-center text-md-left">
                                  <h1 class="mb-0 text-primary">iPriksha</h1>
                                  <p>Excellence in Assessment</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8 col-sm-12">
                            <form class="candidate-details">
                                    <div class="p-3 mb-2 bg-light text-dark row">
                                        <div class="row form-group">
                                            <div class="col-12"> <strong>Candidate Name</strong> </div>
                                            <div class="col-12">
                                                {{user.name}}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12"> <strong>Assessment Name</strong> </div>
                                            <div class="col-12">
                                                {{user.test.name}}
                                            </div>
                                        </div>
                                      
                                    </div>
                                </form>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <!-- <div class="col-md-12">
                          <h4> <span class="badge badge-danger">{{user.test.name}}</span> </h4>
                      </div> -->
                      <div  class="col-12">
                          <div class="d-flex justify-content-between">
                            <b>Assessment Summary !</b>
                          </div>
                      </div>
                  
                      <div class="col-sm-12 mt-4" >
                          
                          <div class="row ">
                              <div class="col-md-12">
                                <div class="text-align">
                                  <span>
                                     Hi {{user.name}} , You have score {{result.marks}} of {{result.total}}
                                  </span>
                                  <ul>
                                      <li>You have un-answered {{result.unanswered }}</li>
                                  </ul>
                                 <!-- <pre><b>Are you sure you want to submit for final marking ?
                                No change will be allowed after submission.</b>
                                  </pre> -->
                                  <p><ngb-progressbar type="success" [value]="percentage" [striped]="true" [animated]="true"><i>{{percentage}}%</i></ngb-progressbar></p>
                                </div>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-xl-12">
                                  <div class="row">
                                    
                                      <div class="col-xl-6 col-sm-12 text-right">
                                          <button class="btn btn-primary" (click)="testAgain()">Try Again!</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>


</div>