
<StackLayout id="resultWrapper" class="mainWrapper">
  <DockLayout height="100%">
        <StackLayout dock="bottom">
                <Button (tap)="testAgain()" text="Do you want to do it again? :)"></Button>
                <Button (tap)="review()" text="Review the test!"></Button>
        </StackLayout>
      <StackLayout class="content">
            <Label horizontalAlignment="center" class="h1" text="Exam Summary !"></Label>
        <Label horizontalAlignment="center" text="Welcome {{user.name}} , You have score {{result.marks}} of {{result.total}}"></Label>
        <Label horizontalAlignment="center" *ngIf="result.unanswered" text="You have not answered {{result.unanswered }} question"></Label>
      </StackLayout>
  </DockLayout>
   
</StackLayout>

