<div class="container">
<p>
  <b>Exam Summary !</b>
</p>
<div>
  <table class="table">
    <tr>
      <th>Section name</th>
      <th>No. of questions</th>
      <th>Not answered</th>
      <th>Answered</th>
      <th>Marked for review</th>
      <th>Answered and marked for review</th>
      <th>Not visited</th>
    </tr>
    <tr>
      <td>paper1</td>
      <td>90</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
  </table>
</div>
<div class="text-align">
 <pre><b>Are you sure you want to submit for final marking ?
No change will be allowed after submission.</b>
  </pre>
</div>
<div class="marginl">
<button class="btn btn-success">Yes</button>

<button class="btn btn-danger marginR">No</button>
</div>
</div>