<mat-accordion>
    <mat-expansion-panel style="width: 280px; float: right;" #panel>
        <mat-expansion-panel-header>
            <mat-panel-description style="float: right;">
                Panoul utilizatorului
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
<br><br><br>
<div class="row">
  <form  #feedbackform="ngForm" >
  <div class="col-12 text-right">
    <textarea name="feedbacktext" [(ngModel)]="feedbacktext" id="feedbacktext"  cols="30" rows="10"></textarea>
    <p > Overall experience</p>
    <input type="radio" name="experince" id="verysatisfied">
    <label for="verysatisfied">Very Satisfied</label>
    <input type="radio" name="experince" id="satisfied">
    <label for="satisfied">Satisfied</label>
    <input type="radio" name="experince" id="notsatisfied">
    <label for="notsatisfied">Not Satisfied</label>
   
  </div>
  
  <div class="col-xl-6 col-sm-12 text-right">
    <button class="btn btn-primary" (click)="sendFeedback(feedbackform)">Send Feedback!</button>
  </div>
</form>
</div>

