<div class="container">

    <div class="row mt-5">
        <div class="col-sm-12">
            <h2>General Instructions</h2>
            <p class="lead">Please read the instructions carefully</p>
            <ol>
                <li>
                    Total duration of {{user.test.name}} ( {{user.test.duration}} min).
                </li>
                <li>
                    The clock will be set at the server. The countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination
                </li>
                <li>
                    When the timer reaches zero,the examination will end by itself .you will not be required to end or submit your examination.
                </li>
                <li>
                    The Questions Palette displayed on the right of screen will show the status of reach questions using one of the following symbols.
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="instruction-block">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="check" name="agree" [(ngModel)]="agree" type="checkbox" />
                    <label class="custom-control-label" for="check">I have read and understood the instructions.
                     All computer hardware alloted to me are in proper working condition . I declare that I am not in
                     possession of / not wearing/ not carring and prohibited gadget like mobile phone, bluetooth device etc.
                     / any prohibited material with me into the Examination Hall. I agree that in case of not adering to the instruction , I shall be liable
                     to be declared from this test and/or to disciplinary action , which may include ban from future Tests/ Examinations.
                   </label>

                </div>
            </form>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" (click)="navigateToTest()">Proceed</button>
        </div>
    </div>


</div>