<StackLayout> 
<Label text="General Instructions"></Label>  
<Label textWrap="true" text="1.Total duration of HTET (Paper-1 is 60 min & Paper-2 is 120 min)."></Label>

<Label textWrap="true" text="The clock will be set at the server. The countdown timer in the top right corner of screen will display the
     remaining time available for you to complete the examination."></Label>
<Label textWrap="true" text="3. The Questions Palette displayed on the right of screen will show the status of reach questions using one of
the following symbols"></Label>


<Label textWrap="true" text="You have not visited the question yet."></Label>
<Label textWrap="true" text="You have not answered the question."></Label>
<Label textWrap="true" text="You have answered the question "></Label>
      <Label textWrap="true" text="You have NOt answered the question , but you have marked the question for review."></Label>
      <Label textWrap="true" text="The question(s) Answered and Marked for Review will be considerd for evaluation."></Label>
      <Label textWrap="true" text="4. You can click on the > arrow which apperes to the left of question platte to callapse the question pallete thereby maximizing the question Window . To view the question platte again , you can click on  which apperes on the right side of the question window."></Label>
      <Label textWrap="true" text="5. You can click on your Profile image on the top right corner of your screen to change the language During
        the exam for entire question paper. On clicking of Profile image you will get a droup- down to change the
        Question cintent to the desired language.."></Label>
      <Label textWrap="true" text="Navigating to a Question :"></Label>

      <Button text="Proceed" (onTap)="navigateToTest()">Proceed</Button>
</StackLayout>