<mat-accordion>
    <mat-expansion-panel style="width: 280px; float: right;" #panel>
        <mat-expansion-panel-header>
            <mat-panel-description style="float: right;">
                Panoul utilizatorului
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-user-panel-content [user_firstName]="user">
        </app-user-panel-content>
    </mat-expansion-panel>
</mat-accordion>
<br><br><br>
<div class="container">
        <div class="card mt-5">
                <div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="ge">Instructiuni generale</h2>
            <p class="lead">Citeste instructiunile cu atentie</p>
            <ol>
                <li>
                    Durata totala a testului {{test.name}} este de {{test.duration}} minute.
                </li>
                <li>
                    Ceasul este setat la nivelul server-ului. Cronometrul in coltul din dreapta sus va afisa tipul ramas la dispozitie pentru rezolvararea testului
                </li>
                <li>
                    Cand cronometrul va ajunge la zero, testarea se va termina. Nu va fi necesar sa opresti sau sa trimiti testul.
                </li>
                <li>
                    Chenarul intrebarilor afisat in dreapta ecranului va arata statusul intrebarilor.
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="instruction-block">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="check" name="agree" [(ngModel)]="agree" type="checkbox" />
                    <label class="custom-control-label" for="check">
                    Am citit si inteles instructiunile.
                    Calculatorul de unde rulez testul este in conditie buna. Declar ca nu sunt in posesia nici unui dispozitiv interzis precum telefonul, casca, etc.  Sunt de acord in cazul in care nu voi respecta instructiunile ca voi fi declarat neadmis si 
ca nu voi mai avea posibilitatea de a da testul din nou.
                   </label>

                </div>
            </form>
        </div>
        <div class="col-12 mt-3 text-right">
            <button [disabled]="!agree" [ngClass]="{'btn-secondary' : !agree}" class="btn btn-primary" (click)="navigateToTest()">Inainte</button>
        </div>
    </div>

</div>
</div>

</div>
