<StackLayout orientation="vertical" height="100%">
<DockLayout height="100%"> 
    <Button dock="bottom" text="Proceed" (onTap)="navigateToTest()">Proceed</Button>
  <StackLayout orientation="vertical" class="content">
<Label text="General Instructions"></Label>  
<Label textWrap="true" text="1.Total duration of {{user.test.name}} ( {{user.test.duration}} min)."></Label>

<Label textWrap="true" text="2.The clock will be set at the server. The countdown timer in the top right corner of screen will display the
     remaining time available for you to complete the examination."></Label>

<Label textWrap="true" text="3.When the timer reaches zero,the examination will end by itself .you will not be required to end or submit your examination."></Label>
<Label textWrap="true" text="4.The Questions Palette displayed on the right of screen will show the status of reach questions using one of
the following symbols"></Label>


    <!-- Checkbox todo component  -->
      <Label  (tap)="accept()" textWrap="true" text="I have read and understood the instructions. All computer hardware alloted to me are in proper working condition . I declare that I am not in possession of / not wearing/ not carring and prohibited gadget like mobile phone, bluetooth device etc. / any prohibited material with me into the Examination Hall. I agree that in case of not adering to the instruction , I shall be liable to be declared from this test and/or to disciplinary action , which may include ban from future Tests/ Examinations:"></Label>
     
    </StackLayout>
</DockLayout>
</StackLayout>