
.inst {
  .h1 {
    color: #000000;
    font-weight: bold;
    font-size: 20;
  }
  Label {
    color: #666666;
    font-size: 16;
    margin-bottom: 10;
  }
  .content {
    margin: 20;
    font-size: 16;
    color: #000000;
  }
  Button{
    background: cornflowerblue;
    color: #ffffff;
    font-size: 14;
    border: 0;
    border-radius: 0;
    padding: 10;  
  }
}