<mat-accordion>
    <mat-expansion-panel style="width: 280px; float: right;" #panel>
        <mat-expansion-panel-header>
            <mat-panel-description style="float: right;">
                Panoul utilizatorului
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-user-panel-content [user_firstname]="user.firstname">
        </app-user-panel-content>
    </mat-expansion-panel>
</mat-accordion>
<br><br><br>
<div class="container" style="background-image: url(assets/images/b4.jpg)">
    
  <div class="row mt-5">
      <div class="col-md-6 mx-auto">
          <div class="card">
              <div class="card-body">
                  <div class="text-center mb-3">
                      <img width="180" alt="UPG-LS Logo" src="assets/images/logo_ls.png">
                  </div>
                  <h3 class="text-center">
                  </h3>
                    
                  <!--
                  <h3  class="text-center">
                    Welcome back
                     
                  </h3>
                  -->

                  <hr>
                  <form id="test" class="col-12" #quiztypeform="ngForm" (ngSubmit)="submit(quiztypeform)">
                   
                     
                      <div class="row form-group">
                          <label class="col-sm-4 col-form-label" for="email">Tipul examinarii</label>
                          <div class="col-sm-8">
                            <select class="form-control" name="test" [(ngModel)]="test" required>
                              <option [ngValue]="testType" *ngFor="let testType of typeTestList">{{testType.name}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                            <button [ngClass]="{'btn-secondary' : quiztypeform.invalid}" class="btn btn-primary btn-block" [disabled]="quiztypeform.invalid" type="submit">Inainte</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

      </div>
  </div>

</div>
