/* Add mobile styles for the component here.  */
#mainWrapper {
   // margin: 20;

.h1 {
    font-size: 28;
    color: #666666;
    font-weight: bold;
    text-align: center;
    margin: 10 0;
}
.quiz-area {
    margin: 10;
.quiz {
    padding: 20;
    background: rgb(175, 125, 223);
    border-width: 1;
    border-color: #cccccc;
    margin: 10;
    border-radius: 10;
    width: 100%;

   
    Label {
        font-weight: bold;
       color:#fff;
        text-align: center;
    }
    // FlexboxLayout{
    //     width: 50%;
    // }
}
.active{
    background: rgb(228, 197, 141);
}
}
.next{
    background: cornflowerblue;
    color: #ffffff;
    font-size: 14;
    border: 0;
    border-radius: 0;
    padding: 10;  
}


}