<StackLayout id="mainWrapper">
    <Label class="h1" text="Type Of Test"></Label>

<!-- <ListPicker [items]="typeTestList" selectedIndex="0" textField="name"
    (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker> -->
<DockLayout height="100%">
    <!-- <StackLayout dock="bottom">
            <Button class="next" text="Next" (tap)="submit()"></Button>
    </StackLayout> -->
    <ScrollView>
        <StackLayout class="quiz-area" horizontalAlignment="center">
                <FlexboxLayout justifyContent="center" width="100%" flexWrap="wrap" flexDirection="row" 
                (tap)="testTypeTap(item)"  class="quiz" *ngFor="let item of typeTestList" 
                [ngClass]="{'active' : item.name == user.test.name }" >
                      <!-- <Image horizontalAlignment="center" height="50" width="50" stretch="none" 
                      src="https://image.shutterstock.com/image-vector/download-icon-upload-button-load-600w-1065865670.jpg"></Image>  -->
                    <Label   horizontalAlignment="center"  [text]="item.name"></Label>
                </FlexboxLayout>
        </StackLayout>
    </ScrollView>
  
</DockLayout>
</StackLayout>