/* Add mobile styles for the component here.  */
#mainWrapper {
    margin: 20;

.h1 {
    font-size: 28;
    color: #666666;
    font-weight: bold;
    text-align: center;
}
.quiz {
    padding: 20;
    background: #ffffff;
    border-width: 1;
    border-color: #cccccc;
}

}