/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    background:linear-gradient(90deg,#cae5f7,#dfedf7);
}

:root{
    color:gray;
    font-family: 'Times New Roman', Times, serif;
}
*{
    /* color:gray;
    font-family: 'Times New Roman', Times, serif; */
}